<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado libre</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/estilos.css">
</head>

<body>


  <div class="content-flow-one">
      <div class="col-1">
        <img class="icono" src="imag-enes/icono2.png" alt="">
      </div>

  </div>
    
  


  <div class="content-ones">
    <div class="container-1">
      <div class="form" action="#" method="GET">
        <input class="cajabusca" name="busqueda" placeholder="Buscar">
      </div>
      <div id="botonlupa">
        <button type="submit" class="submit" ><i class="fa fas-search"></i>Busca</button>
        <img class="lupa" src="imag-enes/lupa.png" alt="">
      </div>
    </div>

    <div class="container-one">
      <div>
        <h2 class="titlecompra">Compra sin tarjetas de credito y en cuotas</h2>
      </div>
      <div>
        <img class="dinero" src="imag-enes/ahorrar-dinero.png" alt="">
      </div>
    </div>
  </div>



  <div class="container-2">
    <div class="container-two">
      <a href="#">Ofertas</a>
      <a href="#">Tiendas Oficiales</a>
      <a href="#">Ventas</a>
      <a href="#">Ayuda</a>
      <a href="register.html">Crea tu cuenta</a>
      <a href="login.html">Ingresa</a>
      <a href="#">Mis compras</a>
    </div>
    <div class="container-three">
      <img class="menu" src="imag-enes/menu.png" alt="menu">
    </div>

  </div>

  <div class="content-3">
      <div class="container-four">
        <div>
          <h2 class="titlevisit">Basado en tu ultima visita</h2>
        </div>
       <div>
        <input class="banner" type="image" src="imag-enes/img-home-banner.jpg" alt="">
       </div>              
      </div>
  </div>



  <div class="content-4">
    <div class="container-five">
      <form method="post" action="#" class="cajasdetexto">
        <label for="">Registro de datos</label>
        <br><br>
        <label for="nombreYapellido">Nombre y Apellido</label>
        <input class="nm" type="text" name="nombreapellido" required="">
        <label for="usuario">Nombre de usuario</label>
        <input type="text" name="usuario" required="">
        <label for="email">Email</label>
        <input type="email" name="email" required="">
        <label for="fecha"></label>
        <input type="date" name="fecha" required="">
      </form>

      <br>

      <form action="#" method="post">
        <div class="buttons">
          <label for="Perfil">Perfil del usuario</label>
          <br>
          <div>
            <label for="perfil_usuario">
              <input class="boton" type="radio" name="perfil_usuario" required="">
              Comprador
            </label>
          </div>
          <div>
            <label for="perfil_usuario_2">
              <input class="boton" type="radio" name="perfil_usuario_2" required="">
              Vendedor
            </label>
          </div>

        </div>
      </form>


      <form action="#" method="post">
        <div class="checkboxs">
          <label for="intereses">Intereses</label>
          <br>
          <div>
            <label for="Electro">
              <input type="checkbox" name="Electro">
              Electro
            </label>
          </div>
          <div>
            <label for="Moda">
              <input type="checkbox" name="moda">
              Moda
            </label>
          </div>
          <div>
            <label for="Hogar">
              <input type="checkbox" name="hogar">
              Hogar
            </label>
          </div>
          <div>
            <label for="jugueteria">
              <input type="checkbox" name="jugueteria">
              Jugueteria
            </label>
          </div>
          <div>
            <label for="vidasana">
              <input type="checkbox" name="vidasana">
              Vida Sana
            </label>
          </div>

        </div>


      </form>

      <form action="#" method="post">
        <div class="fotouser">
          <label for="Foto">Foto de usuario</label><br><br>
          <input type="file" accept=".jpg .png">
          <label for="password">Crear contraseña</label><br>
          <input class="pass" type="password" name="password" required="" placeholder="contraseña">
        </div>
        <div>
          <label for="password_2">Confirmar contraseña</label><br><br>
          <input class="pass" type="password" name="password_2" required="" placeholder="confirmar contraseña">
        </div>
        <br><br>
        <button id="envio">Enviar</button>
        <button id="borrar">Borrar</button>
    </div>





    </form>

  </div>


  <div class="footercontent">
    <div class="inicio">
      <img class="tarjeta" src="imag-enes/tarjeta(1).png" alt="">
      <h2>Paga con o sin tarjeta</h2>
      <p>Con MercadoLibreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
      </p>
    </div>
    <div class="desarrollo">
      <img class="regalo" src="imag-enes/regalo.png" alt="">
      <h2>Envio gratis desde los $2500</h2>
      <p>Solo por estar registrad@ en MercadoLibre tenes envios gratis en miles de productos. Es un beneficio en
        MercadoPuntos</p>
    </div>

    <div class="final">
      <img class="security" src="imag-enes/security(1).png" alt="">
      <h2>Seguridad de principio de fin</h2>
      <p>¿No te gusta? ¡Devolvelo! En MercadoLibre no hay nada que no puedas hacer porque estas siempre protegid@</p>
    </div>
  </div>



  <footer>
    <p>Copyright © 1999-2022 MercadoLibre S.R.L. </p>
  </footer>



</body>

</html>